[submodule "vim"]
	path = vim
	url = git@github.com:SuperPaintman/dotfiles-vim.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:SuperPaintman/dotfiles-zsh.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:SuperPaintman/dotfiles-tmux.git
[submodule "git"]
	path = git
	url = git@github.com:SuperPaintman/dotfiles-git.git
[submodule "ctags"]
	path = ctags
	url = git@github.com:SuperPaintman/dotfiles-ctags.git
[submodule "npm"]
	path = npm
	url = git@github.com:SuperPaintman/dotfiles-npm.git
[submodule "yarn"]
	path = yarn
	url = git@github.com:SuperPaintman/dotfiles-yarn.git
