.modules.json.bak
.modules.json.new

**/node_modules

tmux/.tmux/sidebar/

/result
/result-*

*.local
*.local.*

# Dependencies.
!/tmux/.tmux/plugins/
!/zsh/.oh-my-zsh/
!/zsh/.oh-my-zsh-custom/plugins/

# Python.
.venv
.venv-*
