:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.x-logo {
  display: none;
}

/* body {
  background-color: rgba(34, 35, 37, var(--tw-bg-opacity));
} */

/* Main page */
/* #navbar-root > [class^='navbar'] {
  background-color: rgba(40, 42, 46, var(--tw-bg-opacity));

  border-bottom: 1px solid transparent;

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#navbar-root > [class^='navbar'] a[class^='nav-item'] {
  color: rgba(239, 241, 246, 0.75);
}

#navbar-root > [class^='navbar'] img[class^='logo'] {
  display: none;
}

#navbar-root > [class^='navbar'] img[class^='logo'].x-logo {
  display: block;
}

.media-heading {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.discuss-markdown-container {
  color: rgba(239, 241, 246, 0.6);
}

#home-app hr {
  border-color: rgba(61, 61, 61, var(--tw-border-opacity));
}

.storyboard {
  border-right: 1px solid rgba(61, 61, 61, var(--tw-border-opacity));
}

.side-block {
  border-bottom: 1px solid rgba(61, 61, 61, var(--tw-border-opacity));
}

.side-block-title {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
} */

/* Problem page */
/* #app [class^='header'] > [class^='navbar'] {
  background-color: rgba(40, 42, 46, var(--tw-bg-opacity));

  border-bottom: 1px solid transparent;
}

#app [class*='TabViewHeader'] {
  background-color: rgba(40, 42, 46, var(--tw-bg-opacity));

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#app [class*='TabHeader'] {
  background-color: rgba(40, 42, 46, var(--tw-bg-opacity));
}

#app [class^='editor-wrapper'] [class^='container'] {
  background-color: rgba(40, 42, 46, var(--tw-bg-opacity));
}

#app [class^='editor-wrapper'] [class^='container']:first-child {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  z-index: 10;
}

#app [class^='resize-bar'] {
  background: rgba(40, 42, 46, var(--tw-bg-opacity));
}

#app .CodeMirror-gutters {
  background: rgba(40, 42, 46, var(--tw-bg-opacity));
}

#app [class^='question-fast-picker-wrapper'] {
  background: rgba(40, 42, 46, var(--tw-bg-opacity));
}

#app [class*='code-editor-with-breakpoint'] {
  border-left: 1px solid transparent;
}

#app [class^='editor-wrapper'] > [class^='code-area'] > [class^='container'] {
  border-top: 1px solid transparent;

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), 0px -4px 4px rgba(0, 0, 0, 0.25),
    0px -1px 2px rgba(0, 0, 0, 0.3);

  z-index: 10;
} */
